<form class="form-inline" action="" role="form" ng-submit="">
    <div class="form-group">
        <input type="search" class="form-control" id="searchContactInput" placeholder="Search contact..."/>
        <input type="submit" id="submit" value="go!"/>


    </div>
</form>

<div>
    <table class="table">
        <thead>
        <tr>
            <th>Full Name</th>
            <th>I know them from</th>
            <th>Phone</th>
            <th>Address</th>
            <th>something else...</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dude in contacts">
                <td>{{dude.fname}} {{dude.lname}}</td>
                <td>{{dude.where}}</td>
                <td>{{dude.phone}}</td>
                <td>{{dude.address}}</td>
                <td><a href="#" class="btn btn-primary">See more details</a></td>
            </tr>
        </tbody>
    </table>
</div>

        <div id="addContact">
            <h1>adding</h1>
        </div>