<div ng-show="contact.contactsList == 0">There are not contacts to show. <a ui-sref="new">Try adding one</a>.</div>

<div ng-show="contact.contactsList.length > 0">
    <form class="form-inline" action="" role="form" ng-submit="">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Filter contacts..." ng-model="contact.searchText" />
        </div>
    </form>
    
    <table class="table">
        <thead>
        <tr>
            <th> Full Name </th>
            <th> I know them from </th>
            <th> Phone </th>
            <th> Address </th>
            <th> something else... </th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dude in contact.contactsList | filter:contact.search">
                <td>{{dude.fname}} {{dude.lname}}</td>
                <td>{{dude.where}}</td>
                <td>{{dude.phone}}</td>
                <td>{{dude.address}}</td>
                <td><a href="#" class="btn btn-primary">See more details</a></td>
            </tr>
        </tbody>
    </table>
</div>
